@mixin ieCenterer(){
  margin-left: auto;
  margin-right: auto;
}

@mixin font-style($color, $fontSize, $fontWeight){
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin center-aligner(){
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

@mixin right-aligner(){
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}