@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
/* line 7, ../sass/style.scss */
* {
  font-family: 'Raleway', sans-serif !important;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 13, ../sass/style.scss */
h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, ../sass/style.scss */
.window {
  height: 100vh;
  transition: height 999999s;
  border: solid 1px;
}

/* line 24, ../sass/style.scss */
.language {
  position: absolute;
  right: 10px;
  margin: 1rem;
  font-size: 2.5vmin;
}
@media (max-width: 590px) {
  /* line 24, ../sass/style.scss */
  .language {
    font-size: 3.5vmin;
  }
}

/* line 34, ../sass/style.scss */
h1 {
  font-size: 12vmin;
  padding: 2rem;
}
@media (max-width: 1100px) {
  /* line 34, ../sass/style.scss */
  h1 {
    font-size: 9vmin;
  }
}
@media (max-width: 900px) {
  /* line 34, ../sass/style.scss */
  h1 {
    font-size: 10vmin;
  }
}
@media (max-width: 740px) {
  /* line 34, ../sass/style.scss */
  h1 {
    font-size: 11vmin;
  }
}
@media (max-width: 590px) {
  /* line 34, ../sass/style.scss */
  h1 {
    font-size: 12vmin;
  }
}

/* line 51, ../sass/style.scss */
.drawing1 {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff url("../images/d1.jpg") no-repeat center center;
  background-size: 48%;
  margin: 1rem auto 4rem auto;
  height: 400px;
}
@media (max-width: 1249px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 52%;
  }
}
@media (max-width: 1099px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 60%;
  }
}
@media (max-width: 999px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 65%;
  }
}
@media (max-width: 899px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 75%;
  }
}
@media (max-width: 799px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 80%;
  }
}
@media (max-width: 749px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 90%;
  }
}
@media (max-width: 649px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 100%;
  }
}
@media (max-width: 649px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 100%;
  }
}
@media (max-width: 599px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 110%;
  }
}
@media (max-width: 549px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 120%;
  }
}
@media (max-width: 499px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    height: 350px;
  }
}
@media (max-width: 399px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    height: 300px;
  }
}
@media (max-width: 349px) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    height: 250px;
  }
}
@media (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 599px) and (min-resolution: 192dpi) {
  /* line 51, ../sass/style.scss */
  .drawing1 {
    background-size: 110%;
  }
}
