@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
/* line 7, ../sass/style.scss */
* {
  font-family: 'Raleway', sans-serif !important;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 13, ../sass/style.scss */
.section, .top {
  transition: height 999999s;
}

/* line 17, ../sass/style.scss */
.section {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 21, ../sass/style.scss */
.top {
  height: 72vh;
}

/* line 25, ../sass/style.scss */
.firstType {
  background-color: #D83454;
  height: 100vh;
  display: table-cell;
  width: 100vw;
}
/* line 29, ../sass/style.scss */
.firstType .sectionTop {
  display: table-cell;
  vertical-align: bottom;
}
/* line 33, ../sass/style.scss */
.firstType .sectionBottom {
  margin-top: 6.5rem;
}
@media (max-width: 900px) {
  /* line 33, ../sass/style.scss */
  .firstType .sectionBottom {
    margin-top: 3.5rem;
  }
}
@media (max-width: 740px) {
  /* line 33, ../sass/style.scss */
  .firstType .sectionBottom {
    margin-top: 2.5rem;
  }
}

/* line 44, ../sass/style.scss */
.secondType {
  background-color: #F1F2F2;
  height: 100vh;
}
@media (max-width: 590px) {
  /* line 46, ../sass/style.scss */
  .secondType .sectionTop {
    height: 65vh;
  }
}
/* line 51, ../sass/style.scss */
.secondType .sectionBottom {
  margin-top: 1rem;
}
@media (max-width: 900px) {
  /* line 51, ../sass/style.scss */
  .secondType .sectionBottom {
    margin-top: 0rem;
  }
}

/* line 59, ../sass/style.scss */
.thirdType, .fourthType {
  background-color: #FFF;
  height: 100vh;
  min-height: 50rem;
}
/* line 62, ../sass/style.scss */
.thirdType .sectionBottom, .fourthType .sectionBottom {
  margin-top: 7rem;
}

/* line 67, ../sass/style.scss */
.fourthType {
  background-color: #F1F2F2;
  height: 100vh;
}

/* line 72, ../sass/style.scss */
.imageCenter {
  width: 26rem;
}

/* line 76, ../sass/style.scss */
.logoSubtitle {
  color: #F1F2F2;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 128%;
  margin-top: 6rem;
  margin-left: 30vw;
  margin-right: 30vw;
}
@media (max-width: 1100px) {
  /* line 76, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
@media (max-width: 900px) {
  /* line 76, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
@media (max-width: 740px) {
  /* line 76, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
@media (max-width: 590px) {
  /* line 76, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}

/* line 101, ../sass/style.scss */
.drawing {
  width: 48rem;
  margin-top: 13rem;
}
@media (max-width: 900px) {
  /* line 101, ../sass/style.scss */
  .drawing {
    width: 44rem;
  }
}
@media (max-width: 740px) {
  /* line 101, ../sass/style.scss */
  .drawing {
    width: 38rem;
    margin-top: 16rem;
  }
}
@media (max-width: 590px) {
  /* line 101, ../sass/style.scss */
  .drawing {
    width: 32rem;
  }
}
@media (max-width: 480px) {
  /* line 101, ../sass/style.scss */
  .drawing {
    width: 28rem;
  }
}

/* line 119, ../sass/style.scss */
.drawingSubtitle {
  color: #434244;
  font-size: 2.9rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0;
}

/* line 127, ../sass/style.scss */
strong {
  font-weight: normal;
  color: #D83454;
}

/* line 132, ../sass/style.scss */
.scrollButton {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/arrowDown.png") no-repeat center/35%;
  width: 5rem;
  height: 5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #F1F2F2;
  cursor: pointer;
  -moz-box-shadow: #434244 1px 1px 20px -5px;
  -webkit-box-shadow: #434244 1px 1px 20px -5px;
  box-shadow: #434244 1px 1px 20px -5px;
}
/* line 143, ../sass/style.scss */
.scrollButton:active {
  -moz-box-shadow: #434244 0px 0px 0px;
  -webkit-box-shadow: #434244 0px 0px 0px;
  box-shadow: #434244 0px 0px 0px;
}

/* line 148, ../sass/style.scss */
.redButton {
  background-color: #D83454;
  border-width: 3px;
  width: 4.8rem;
  height: 4.8rem;
  margin-top: 3.1rem;
}

/* line 156, ../sass/style.scss */
.blackButton {
  background: url("../images/arrowDownBlack.png") no-repeat center/35%;
  border-color: #434244;
  border-width: 2.5px;
  width: 4.8rem;
  height: 4.8rem;
}

/* line 164, ../sass/style.scss */
.titleWithMargin, .titleWithMargin.clients, .titleWithoutMargin {
  color: #434244;
  font-size: 6.2rem;
  font-weight: 400;
  margin-top: 0;
  padding-top: 4rem;
  margin-bottom: 10.5rem;
}
@media (max-width: 700px) {
  /* line 164, ../sass/style.scss */
  .titleWithMargin, .titleWithMargin.clients, .titleWithoutMargin {
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  /* line 174, ../sass/style.scss */
  .titleWithMargin.clients, .clients.titleWithoutMargin {
    margin-bottom: 10.5rem;
  }
}

/* line 181, ../sass/style.scss */
.titleWithoutMargin {
  margin-bottom: 3rem;
}

/* line 186, ../sass/style.scss */
.servicesContainer {
  margin-left: auto;
  margin-right: auto;
  width: 77vw;
}
@media (max-width: 993px) {
  /* line 186, ../sass/style.scss */
  .servicesContainer {
    width: 90vw;
  }
}
@media (max-width: 700px) {
  /* line 186, ../sass/style.scss */
  .servicesContainer {
    text-align: left;
  }
}

/* line 197, ../sass/style.scss */
.circle {
  -moz-border-radius: 20rem;
  -webkit-border-radius: 20rem;
  border-radius: 20rem;
  width: 14vw;
  height: 14vw;
}
@media (max-width: 700px) {
  /* line 197, ../sass/style.scss */
  .circle {
    width: 7.5rem;
    height: 7.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2rem;
  }
}

/* line 210, ../sass/style.scss */
.service1 {
  background: #D83454 url("../images/service1.png") no-repeat center/44%;
}

/* line 213, ../sass/style.scss */
.service2 {
  background: #D83454 url("../images/service2.png") no-repeat center/44%;
}

/* line 216, ../sass/style.scss */
.service3 {
  background: #D83454 url("../images/service3.png") no-repeat center/44%;
}

/* line 219, ../sass/style.scss */
.service4 {
  background: #D83454 url("../images/service4.png") no-repeat center/44%;
}

/* line 223, ../sass/style.scss */
.circleSubtitle {
  color: #434244;
  font-size: 2rem;
  font-weight: 500;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  margin-top: 5rem;
}
@media (max-width: 700px) {
  /* line 223, ../sass/style.scss */
  .circleSubtitle {
    margin-top: 2rem;
    display: inline-block;
    vertical-align: super;
    margin-left: 2.5rem;
  }
}
@media (max-width: 360px) {
  /* line 223, ../sass/style.scss */
  .circleSubtitle {
    margin-left: 0.5rem;
    color: #434244;
    font-size: 1.7rem;
    font-weight: 500;
  }
}

/* line 238, ../sass/style.scss */
.client {
  -webkit-filter: grayscale(100%) brightness(60%);
  filter: grayscale(100%) brightness(60%);
  margin-left: auto;
  margin-right: auto;
  width: 18.5rem;
  height: 18.5rem;
  cursor: pointer;
}
/* line 244, ../sass/style.scss */
.client:hover {
  -webkit-filter: grayscale(0%) brightness(100%);
  filter: grayscale(0%) brightness(100%);
}

/* line 249, ../sass/style.scss */
.client1 {
  background: url("../images/client1.png") no-repeat center/100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 252, ../sass/style.scss */
.client1:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 256, ../sass/style.scss */
.client2 {
  background: url("../images/client2.png") no-repeat center/100%;
}

/* line 259, ../sass/style.scss */
.client3 {
  background: url("../images/client3.png") no-repeat center/80%;
}

/* line 262, ../sass/style.scss */
.client4 {
  background: url("../images/logo.png") no-repeat center/100%;
}

/* line 266, ../sass/style.scss */
.owl-wrapper-outer {
  z-index: 20;
}

/* line 269, ../sass/style.scss */
.owl-buttons {
  position: absolute !important;
  top: 5.5rem !important;
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
}
@media (max-width: 1100px) {
  /* line 269, ../sass/style.scss */
  .owl-buttons {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
@media (max-width: 900px) {
  /* line 269, ../sass/style.scss */
  .owl-buttons {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
@media (max-width: 740px) {
  /* line 269, ../sass/style.scss */
  .owl-buttons {
    display: none;
  }
}

/* line 288, ../sass/style.scss */
.owl-prev, .owl-next {
  font-size: 4rem !important;
  font-weight: 600 !important;
  color: gray !important;
  background: none !important;
  position: relative;
  z-index: 40;
  float: left;
}

/* line 298, ../sass/style.scss */
.owl-next {
  float: right;
}

/* line 303, ../sass/style.scss */
#mapTitle:before {
  content: "How to find us";
}
@media (max-width: 590px) {
  /* line 303, ../sass/style.scss */
  #mapTitle:before {
    content: "Find us";
  }
}

/* line 310, ../sass/style.scss */
.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 85%;
}

/* line 316, ../sass/style.scss */
.map-container:before, .map-container:after, #map:before, #map:after {
  position: absolute;
  display: block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  content: '';
  z-index: 5;
}

/* line 323, ../sass/style.scss */
.map-container:before {
  top: -5px;
  left: 0;
  right: 0;
  height: 5px;
}

/* line 329, ../sass/style.scss */
.map-container:after {
  right: -5px;
  top: 0;
  bottom: 0;
  width: 5px;
}

/* line 335, ../sass/style.scss */
#map:before {
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
}

/* line 341, ../sass/style.scss */
#map:after {
  left: -5px;
  top: 0;
  bottom: 0;
  width: 5px;
}

/* line 348, ../sass/style.scss */
#map {
  width: inherit;
  height: inherit;
  background-color: #CCC;
}

/* line 354, ../sass/style.scss */
.inputText, .inputTextArea {
  width: 21em;
  height: 5.5rem;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #c9cdcd;
  background-color: #fcfcfc;
  color: #434244;
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 1100px) {
  /* line 354, ../sass/style.scss */
  .inputText, .inputTextArea {
    width: 50vw;
  }
}
@media (max-width: 740px) {
  /* line 354, ../sass/style.scss */
  .inputText, .inputTextArea {
    width: 70vw;
  }
}
@media (max-width: 590px) {
  /* line 354, ../sass/style.scss */
  .inputText, .inputTextArea {
    width: 85vw;
  }
}
/* line 61, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.inputText:-moz-placeholder, .inputTextArea:-moz-placeholder {
  color: #CBCBCB;
  font-size: 2rem;
  font-weight: 400;
}
/* line 64, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.inputText::-moz-placeholder, .inputTextArea::-moz-placeholder {
  color: #CBCBCB;
  font-size: 2rem;
  font-weight: 400;
}
/* line 67, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.inputText:-ms-input-placeholder, .inputTextArea:-ms-input-placeholder {
  color: #CBCBCB;
  font-size: 2rem;
  font-weight: 400;
}
/* line 56, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.inputText::-webkit-input-placeholder, .inputTextArea::-webkit-input-placeholder {
  color: #CBCBCB;
  font-size: 2rem;
  font-weight: 400;
}

/* line 365, ../sass/style.scss */
input:focus {
  text-decoration: none !important;
}

/* line 369, ../sass/style.scss */
.submitButton {
  color: #F1F2F2;
  font-size: 2rem;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 21em;
  height: 5.5rem;
  background-color: #D83454;
  border: none;
}
@media (max-width: 1100px) {
  /* line 369, ../sass/style.scss */
  .submitButton {
    width: 50vw;
  }
}
@media (max-width: 740px) {
  /* line 369, ../sass/style.scss */
  .submitButton {
    width: 70vw;
  }
}
@media (max-width: 590px) {
  /* line 369, ../sass/style.scss */
  .submitButton {
    width: 85vw;
  }
}
